---
import Layout from "./Layout.astro"

interface Props {
  title: string
  description: string
}

const { title, description } = Astro.props
---

<Layout title={`${title} — Botyoo`} description={description}>
  <div class="mx-auto max-w-4xl px-6 pb-24 pt-36">
    <slot />
  </div>
</Layout>
